<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section accent-background">
  <div class="container">
    <div
      class="row justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="100"
    >
      <div class="col-xl-10">
        <div class="text-center">
          <h3>Start your healthy life Now </h3>
          <p>
            Discover a healthier, balanced life through mindful eating and daily movement. At DietCraft, we guide you with nutritious meals and easy home workouts designed to fit your lifestyle. Start your journey to feeling better, one habit at a time.
          </p>
          <a class="cta-btn" href="#">Start Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Call To Action Section -->
