<section id="about" class="about section">
  <div class="about-background">
    <div class="about-shape about-shape-1"></div>
    <div class="about-shape about-shape-2"></div>
  </div>
  <div class="container my-5">
    <div class="section-heading text-center">
      <h2 class="section-title mb-4">About DietCraft</h2>
      <div class="title-underline"></div>
    </div>
    <div class="about-wrapper">
      <div class="about-image-container">
          <img loading="lazy" src="images/about-img.gif" class="about-img" alt="About DietCraft" />
      </div>

      <div class="about-content">
        <p class="about-intro">
          {{ aboutInfo.motivation }}
        </p>
        <ul class="about-list">
          <li class="about-list-item" *ngFor="let l of aboutInfo.objectives">
            <div class="list-icon">
              <i class="bi bi-check2-all"></i>
            </div>
            <span class="list-text"> {{ l }}</span>
          </li>
        </ul>
        <p class="about-conclusion">
          {{ aboutInfo.conclusion }}
        </p>
      </div>
    </div>
  </div>
</section>