<!-- featured-services.component.html -->
<section id="featured-services" class="featured-services section">
  <div class="bg-pattern pattern-1"></div>
  <div class="bg-pattern pattern-2"></div>
  <div class="container">
    <div class="section-heading">
      <h2 class="section-title">Explore New Possibilities</h2>
      <div class="title-underline"></div>
    </div>
    <div class="services-grid">
      <div 
        class="service-card" 
        data-aos="fade-up" 
        [attr.data-aos-delay]="100 + (i * 100)" 
        *ngFor="let f of featuredServices; let i = index"
      >
        <div class="service-card-inner">
          <div class="service-icon">
            <div class="icon-background"></div>
            <i class="bi {{ f.icon }}"></i>
          </div>
          <h4 class="service-title">
            <a [routerLink]="f.link" class="service-link">{{ f.title }}</a>
          </h4>
          <p class="service-description">{{ f.details }}</p>
          <a [routerLink]="f.link" class="read-more">Learn more <i class="bi bi-arrow-right"></i></a>
          <div class="card-hover-effect"></div>
        </div>
      </div>
    </div>
  </div>
</section>