<main class="main">
  <app-hero></app-hero>
  <app-features></app-features>
  <app-about></app-about>
  <app-cta></app-cta>
  <app-detailed-services></app-detailed-services>
  <section class="newsletter-section">
    <div class="container">
      <div
        class="newsletter-container"
        data-aos="fade-up"
        data-aos-duration="800"
      >
        <div class="newsletter-content">
          <h4 class="newsletter-title">Contact with us</h4>
          <p class="newsletter-text">
            Contact with Team For Development or Services
          </p>
          <app-button
            appDoubleSize="7"
            [Action]="navigateToContact"
            label="Contact Now"
            classes="newsletter-button"
          ></app-button>
        </div>
      </div>
    </div>
  </section>
</main>
