<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section my-4">
  <div class="container mb-5">
    <!-- <h3>Explore New Worlds with New Features : </h3> -->
    <div class="row gy-4">
      <div
        class="col-lg-4 d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
        *ngFor="let f of featuredServices"
      >
        <div class="service-item position-relative">
          <div class="icon"><i class="bi {{ f.icon }} icon"></i></div>
          <h4>
            <a href="" class="stretched-link" >{{ f.title }}</a>
          </h4>
          <p>{{ f.details }}</p>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- /Featured Services Section -->
