/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services {
    --surface-color: color-mix(in srgb, var(--default-color), transparent 96%);
    padding-top: 0;
  }
  
  .featured-services .service-item {
    background-color: var(--surface-color);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
    width: 100%;
  }
  
  .featured-services .service-item .icon {
    margin-bottom: 10px;
  }
  
  .featured-services .service-item .icon i {
    color: var(--accent-color);
    font-size: 36px;
    transition: 0.3s;
  }
  
  .featured-services .service-item h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .featured-services .service-item h4 a {
    color: var(--heading-color);
    transition: ease-in-out 0.3s;
    pointer-events: none;
  }
  
  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .featured-services .service-item:hover {
    transform: translateY(-10px);
  }
  
  .featured-services .service-item:hover h4 a {
    color: var(--accent-color);
  }
  